* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@import'grilla.scss';
@import'index.scss';
@import'instituto.scss';
@import'cursos.scss';
@import'preguntas.scss';
@import'contacto.scss';
@import'media.scss'


  