.header {

  h1 .log {
    color: black;
  }

  .container-fluid {
    .navbar-nav {
      display: flex;
    }
  }
}

.conte-index {
  font-family: sans-serif;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
  margin-top: 15px;
  background-color: #fff;
  


  figure {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;

    .razones {
      position: relative;
      top: 0;
      background: rgba(0, 103, 123, 0.7);

      h5 {
        position: absolute;
        bottom: 4em;
        text-shadow: #08f;
        font-size: 35px;
        left: 20px;
        text-decoration: none;
        li{
          text-decoration: none;
        }

      }
    }

    img {
      width: 500px;
      opacity: 0.6;
      transition: all 500ms ease-out;

      &:hover img {
        background: #2fb4cc;
        color: #fff;
      }
    }

  }
}
.indexH2{
  text-align: center;
  margin-top: 2%;
}
.test {
  display: flex;
  align-items: center;
  justify-content: center; 
  min-height: 50vh;
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 10%;
  float: left;
  margin-left: 20%;
  margin-bottom: 5%;
  margin-top: 5%;

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 2s;
  }

  .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;


    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      

    }
    .h5{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      color: #fff;
      background-color:rgba(0, 0, 0,.4);
      text-align: center;
    }
    
  }
  &:hover .front{
    transform: perspective(600px) rotateY(180deg);
  }
  .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    h5{
      margin-top: 1em;
      a{
        text-decoration: none;
      }
    }
   
  }
  &:hover .back{
    transform: perspective(600px) rotateY(360deg);
  }
}

.h2{
  margin-left: 5%;
  margin-top: 5%;
}

.footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  color: azure;
  max-width: 100%;
  justify-content: center;

  .logo {
    text-align: center;
    padding-right: 15%;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #08f;
      }
    }
  }

  .media {
    display: flex;
    flex-direction: column;

    .razon {
      text-align: center;
      display: flex;
      padding-right: 5%;
      margin-bottom: 2rem;
      flex-direction: column;
    }
  }

  .red-social {
    margin-right: 5%;
    color: azure;
    padding-right: 5%;
    width: 1%;

    a {
      color: #fff;
      font-size: 10px;


      &:hover {
        color: #08f;
      }
    }
  }
}